# This is Git's per-user configuration file.
[user]
	name = Martin Svangren
	email = {{ .email | quote }}
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAznjxzQT1UZeVmqNN/PCI/qqEe9HI5SvLc3H7bNjaId

[alias]
	st = status
	ci = commit
	b  = branch
	bm = branch --merged
	bd = branch -d
	co = checkout
	cob = checkout -b
	cot = checkout -t
	d = diff
	dt = difftool
	first = commit --allow-empty -m 'Initial commit'
	please = push --force-with-lease
	fu = !git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -wf 1 | xargs -o git commit --fixup

[core]
	attributesfile = ~/.config/git/attributes

[init]
	defaultBranch = main

[gpg]
	format = ssh

[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
	gpgsign = true

[merge "merge-structure-sql"]
	name = Rails structure.sql merge driver
	driver = git-merge-structure-sql %A %O %B
