if status is-interactive
    # Commands to run in interactive sessions can go here
    set -g fish_greeting
end

set -gx EDITOR nvim
set -x OBJC_DISABLE_INITIALIZE_FORK_SAFETY YES
set -x DISABLE_SPRING true

ulimit -n 10000

fish_add_path ~/bin
fish_add_path ~/.asdf/shims
fish_add_path /opt/homebrew/bin
fish_add_path /opt/homebrew/sbin
fish_add_path /opt/homebrew/opt/postgresql@16/bin

op completion fish | source
zoxide init fish | source

alias cz="chezmoi"
alias l="eza -l --icons --git -a"
alias lt="l -T -L2"
alias s="sesh connect \$(sesh list -i | gum filter --limit 1 --no-sort --fuzzy --placeholder 'Pick a sesh' --height 50 --prompt='⚡')"

{{- if hasKey . "teamtailor" }}

set -gx VOLTA_HOME "$HOME/.volta"
set -gx VOLTA_FEATURE_PNPM 1
fish_add_path $VOLTA_HOME/bin
{{- end }}
