if status is-interactive
    # Commands to run in interactive sessions can go here
    set -g fish_greeting
end

set -gx EDITOR nvim
set -x OBJC_DISABLE_INITIALIZE_FORK_SAFETY YES
set -x DISABLE_SPRING true

ulimit -n 10000

fish_add_path ~/bin
fish_add_path /opt/homebrew/bin
fish_add_path /opt/homebrew/sbin
fish_add_path /opt/homebrew/opt/postgresql@16/bin

# ASDF configuration code
if test -z $ASDF_DATA_DIR
    set _asdf_shims "$HOME/.asdf/shims"
else
    set _asdf_shims "$ASDF_DATA_DIR/shims"
end

# Do not use fish_add_path (added in Fish 3.2) because it
# potentially changes the order of items in PATH
if not contains $_asdf_shims $PATH
    set -gx --prepend PATH $_asdf_shims
end
set --erase _asdf_shims

op completion fish | source
zoxide init fish | source

alias cz="chezmoi"
alias l="eza -l --icons --git"
alias lt="l -T -L2"
alias s="sesh connect \$(sesh list -i | gum filter --limit 1 --no-sort --fuzzy --placeholder 'Pick a sesh' --height 50 --prompt='⚡')"

{{- if hasKey . "teamtailor" }}

set -gx VOLTA_HOME "$HOME/.volta"
set -gx VOLTA_FEATURE_PNPM 1
fish_add_path $VOLTA_HOME/bin
{{- end }}
